body{
    background-color: antiquewhite;
}
img{
    border-radius: 13px;
    border: 12px solid burlywood;
    width: 200;
    height: auto;
}
div{
    text-align: left;
    font-size: large;
    color: coral;
}
h1{
    color: brown;
    text-align: center;
}