#no1{
    color: rgb(50, 200, 10);
}
#no2{
    color: rgb(35, 10, 20);
}
#no3{
    color: rgb(250, 0, 0);
}
#no4{
    color: rgb(79, 10, 200);
}
#no5{
    color: rgb(200, 150, 0);
}
#no6{
    color: #ff01ee
}
#no7{
    color: #dc418d
}
#no8{
    color: #7756dd
}
#no9{
    color: #b977a3
}
#no10{
    color: #a9a9a9
}